{
  // ESLint Configuration File
  // See http://eslint.org/ for more details.

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // Parser
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  "parser": "babel-eslint",

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // Extends
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  "extends": "airbnb",

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // Plugins
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  "plugins": [
    "react"
  ],

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // Rules
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  "rules": {
    //
  }
}
