{
  // ESLint Configuration File
  // See http://eslint.org/docs/rules/ for more details.

  // Parser
  "parser": "babel-eslint",

  // Extends
  "extends": "airbnb",

  // Rules
  "rules": {
    "comma-dangle": 0,
    "indent": [2, 4, {"SwitchCase": 1, "VariableDeclarator": 1}],
    "space-before-function-paren": [2, { "anonymous": "always", "named": "always" }],
    "new-cap": 0
  }
}
