# Git Ignore Configuration File
# See https://git-scm.com/docs/gitignore for more details.

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Directories
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
coverage/
lib/
node_modules/

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Files
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
npm-debug.log

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Extensions
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*.gz
*.log
*.rar
*.tar
*.zip

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# Project generated
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.nyc_output

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IDE generated
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.idea/
.vscode/
.project
*.iml

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# OS generated
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
__MACOSX/
.DS_Store
Thumbs.db
