
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Global
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Html and Body
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

html, body {
  @include font-smoothing(antialiased);
  font-family: Arial, sans-serif;
  color: map-get($COLORS, Raven); font-size: 100%; line-height: 1;
}


//  Anchors
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

a {
  text-decoration: none;
  color: map-get($COLORS, Alice);

  &:hover, &:focus {
    text-decoration: none;
  }
}


//  Lists
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

ul {
  > li {
    list-style: none;
  }
}
