
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Layout
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Html and Body
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

html, body {
  position: absolute; overflow: hidden;
  top: 0; right: 0; bottom: 0; left: 0;

  background-color: map-get($COLORS, White);
}


//  Firepack
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Firepack {
  position: absolute; overflow: hidden;
  top: 0; right: 0; bottom: 0; left: 0;

  background-color: map-get($COLORS, Lilia);

  &.hide-sidebar {

    .Firepack--Topbar {
      left: 0;
    }

    .Firepack--Sidebar {
      @include transform(translateX(-100%));
    }

    .Firepack--Main {
      left: 0;
    }
  }

  // &.overlay-sidebar .Firepack-Sidebar {
  //   @include transform(translateX(0));
  // }
}


//  Firepack Auth
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Firepack--Auth {
  position: absolute; overflow: auto;
  top: 0; right: 0; bottom: 0; left: 0;
}


//  Firepack Topbar
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Firepack--Topbar {
  position: absolute; overflow: auto; z-index: 1;
  top: 0; right: 0; bottom: auto; left: rem(220); height: rem(60);

  background-color: map-get($COLORS, White);
  box-shadow: 0 0 rem(1) map-get($COLORS, Pearl);

  @include media-to ($BREAKPOINTS, M) {
    left: 0;
  }
}


//  Firepack Sidebar
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Firepack--Sidebar {
  position: absolute; overflow: auto; z-index: 1;
  top: 0; right: auto; bottom: 0; left: 0; width: rem(220);

  background-color: map-get($COLORS, Jet);

  @include media-to ($BREAKPOINTS, M) {
    @include transform(translateX(-100%));
  }
}

//  Firepack Main
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Firepack--Main {
  position: absolute; overflow: auto;
  top: rem(60); right: 0; bottom: 0; left: rem(220);

  padding: rem(25);

  @include media-to ($BREAKPOINTS, M) {
    left: 0;
  }
}
