
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Layout
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Html and Body
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

html, body {
  position: absolute; overflow: hidden;
  top: 0; right: 0; bottom: 0; left: 0;

  background-color: map-get($COLORS, White);
}


//  Firebox
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Firebox {
  position: absolute; overflow: hidden;
  top: 0; right: 0; bottom: 0; left: 0;

  background-color: map-get($COLORS, Lilia);
}


//  Firebox Auth
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Firebox--Auth {
  position: absolute; overflow: auto;
  top: 0; right: 0; bottom: 0; left: 0;
}


//  Firebox Topbar
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Firebox--Topbar {
  position: absolute; overflow: auto; z-index: 1;
  top: 0; right: 0; bottom: auto; left: rem(220); height: rem(60);

  background-color: map-get($COLORS, White);
  box-shadow: 0 0 rem(1) map-get($COLORS, Pearl);

  .hide-sidebar & {
    left: 0;
  }

  @include media-to ($BREAKPOINTS, M) {
    left: 0;
  }
}


//  Firebox Sidebar
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Firebox--Sidebar {
  @include transition(transform .3s ease-in);

  position: absolute; overflow: auto; z-index: 2;
  top: 0; right: auto; bottom: 0; left: 0; width: rem(220);

  background-color: map-get($COLORS, Jet);

  .hide-sidebar & {
    @include transform(translateX(-100%));
  }

  .overlay-sidebar & {
    @include transform(translateX(0));
  }

  @include media-to ($BREAKPOINTS, M) {
    @include transform(translateX(-100%));
  }
}

//  Firebox Main
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.Firebox--Main {
  position: absolute; overflow: auto;
  top: rem(60); right: 0; bottom: 0; left: rem(220);

  padding: rem(25);

  .hide-sidebar & {
    left: 0;
  }

  @include media-to ($BREAKPOINTS, M) {
    left: 0;
  }
}
