
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    Main

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import '../../../_lib/styles/_core/all';

/**
 *  Main
 */
.Main {
  @include clearfix();

  .Main--ToggleButton {
    float: left; padding: rem(12) rem(15);
  }

  .Main--SearchBox {
    float: left; padding: rem(12) 0; width: rem(300);
  }

  .Main--OptionsBox {
    float: right; padding: rem(12) rem(15);
  }

  .Main--ProfileBox {
    float: right; padding: rem(10);
  }
}
