

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Auth Page
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Imports
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@import '../../../../styles/lib/main';


//  Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.AuthPage {
  position: relative;
}

.AuthPage--Content {
  text-align: center;

  margin: 0 auto;
  max-width: rem(380);

  padding: rem(60) 0;

  > h1 {
    color: color('grey', '800');
  }

  > p {
    color: color('grey', '600');
    margin-bottom: rem(60);
  }

  > ul {
    padding: 0 rem(20);

    > li {
      list-style: none;
      margin-bottom: rem(20);

      > button {
        font-size: rem(18); line-height: rem(22);
        color: color('blue-grey', '800');

        display: block; width: percentage(1/1);
        padding: rem(16) rem(24) rem(14); box-sizing: border-box;

        border: rem(1) solid color('blue-grey', '600'); border-radius: rem(2);
        background-color: color('white', '500');
      }
    }
  }
}
