
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    Profile Box

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import '../../../../../_lib/styles/_core/all';

/**
 *  Profile Box
 */
.ProfileBox {
  @include clearfix();

  > .avatar {
    float: right; overflow: hidden;
    width: rem(36); height: rem(36);

    background-color: map-get($COLORS, Lilia);
    border: rem(2) solid map-get($COLORS, White); border-radius: 50%;

    > img {
      width: 100%; height: 100%;
    }
  }

  > .data {
    text-align: right;
    margin-right: rem(40); padding-right: rem(10);

    > .display-name {
      font-size: rem(14); line-height: rem(15);
      color: map-get($COLORS, Asher); font-weight: bold;

      padding-top: rem(6);
    }

    > .email {
      font-size: rem(13); line-height: rem(15);
      color: map-get($COLORS, Gray);
    }
  }
}
