

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Menu
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//  Imports
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@import '../../../styles/lib/main';


//  Styles
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

:global {
  .isActive {
    color: color('blue-grey', '100') !important; font-weight: bold;

    border-left-color: color('red') !important;
  }
}

.Menu {
  padding: rem(15) rem(20);

  > .category {
    margin-bottom: rem(30);

    > .title {
      font-size: rem(11); line-height: rem(15);
      color: color('blue-grey', '600'); font-weight: bold; text-transform: uppercase;

      margin: rem(10) 0;
    }

    > .items {
      margin: 0 rem(-20);

      > .item {
        margin-bottom: rem(3);

        > a {
          font-size: rem(14); line-height: rem(16);
          color: color('blue-grey', '400'); text-decoration: none;

          display: block;
          margin: 0; padding: rem(8) rem(15) rem(8) rem(20);

          border: rem(3) solid transparent; border-radius: rem(2);

          &:hover, &:focus {
            color: color('blue-grey', '200');
          }

          &:active {
            color: color('blue-grey', '300');
          }

          > span {
            margin-left: rem(15);
          }
        }
      }
    }
  }
}
