
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    Menu

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import '../../../../../_lib/styles/_core/all';

/**
 *  Menu
 */
.Menu {
    padding: rem(15) rem(20);

  > .category {
      margin-bottom: rem(30);

    > .title {
      font-size: rem(11); line-height: rem(15);
      color: map-get($COLORS, Raven); font-weight: bold; text-transform: uppercase;

      margin: rem(10) 0;
    }

    > .items {
      margin: 0 rem(-20);

      > .item {
          margin-bottom: rem(3);

        > a {
          font-size: rem(14); line-height: rem(16);
          color: map-get($COLORS, Asher);

          display: block;
          margin: 0; padding: rem(8) rem(15) rem(8) rem(20);

          border: rem(3) solid transparent; border-radius: rem(2);

          &:hover, &:focus {
            color: map-get($COLORS, Stone);
          }

          &:active {
            color: map-get($COLORS, Stone);
          }

          &.isActive {
            color: map-get($COLORS, Gray); font-weight: bold;

            border-left-color: map-get($COLORS, Ruby);
          }

          > span {
            margin-left: rem(15);
          }
        }
      }
    }
  }
}
