
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  Toggle Button

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import '../../../../_lib/styles/_core/all';

/**
 *  Toggle Button
 */
.ToggleButton {
  @include transition(box-shadow .1s ease-in-out);

  font-size: rem(20); line-height: rem(36);
  color: map-get($COLORS, Asher); text-align: center;

  display: block;
  margin: 0; padding: 0; width: rem(36);

  background-color: transparent; border: 0; border-radius: 50%;

  &:hover, &:focus {
    background-color: map-get($COLORS, Lilia);
  }

  &:active {
    color: map-get($COLORS, Stone);

    box-shadow: inset 0 rem(3) rem(9) map-get($COLORS, Pearl);
  }
}
