
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  App Main
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@import '../../../../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../../styles/_core/all';

//  App Main
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

.App--Main {
  margin-left: rem(200); padding: 0 rem(30);

  &.no-sidebar {
    margin-left: 0;
  }

  .App--Topbar {
    height: rem(60);
    border-bottom: rem(1) solid map-get($COLORS, Lilia);

    > .title {
      font-size: rem(20); line-height: rem(30);
      margin: 0; padding: rem(15);

      > span {
        margin-left: rem(10);
      }
    }
  }

  .App--Content {
    padding: rem(30) 0;

    .muted {
      font-size: rem(14); line-height: rem(15);
      color: map-get($COLORS, Heather);

      padding: rem(5) 0; margin-bottom: rem(15);

      border-bottom: rem(1) solid map-get($COLORS, Lilia);
    }
  }
}
