
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

    Sign in

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import '../../../../_lib/styles/_core/all';

/**
 *  Sign in
 */
.SignIn {
  max-width: rem(420);
  margin: rem(100) auto 0;
  padding: rem(40) rem(50) rem(25); box-sizing: border-box;
  background-color: map-get($COLORS, White);
  border: rem(1) solid map-get($COLORS, Pearl);

  > h1 {
    font-size: rem(25);
    margin: 0 0 rem(40);
    color: map-get($COLORS, Asher);
  }

  > form {
    //
  }

  ul {
    @include clearfix();
    line-height: rem(37); color: map-get($COLORS, Sterling);
    float: right;

    > li {
      float: left;
      padding: 0 rem(3);

      > a {
        color: map-get($COLORS, Jade);

        &:hover, &:focus {
          text-decoration: underline;
        }

        &:active {
          color: map-get($COLORS, Coral);
        }
      }
    }
  }
}
